*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container_nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 24px;
    padding: 24px;
}

img{
    max-width: 100%;
}

nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

.cards_produtos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    margin: 100px 24px;
    padding: 24px;
}
.card_produto{
    text-align: center;
}


@media (max-width: 1200px){
    .cards_produtos{
        grid-template-columns: repeat(2, 1fr);
        padding: 12px;
    }
}

@media (max-width: 600px){
    .container_nav{
        grid-template-columns: 1fr;
        margin: 12px;
        text-align: center;
    }
    nav a{
        margin-top: 12px;
    }
    .cards_produtos{
        grid-template-columns: 1fr;
    }
}